h1 {text-align: center;
}

body {
    background-color: rgb(182, 218, 241);
}


#btn_start {
    display: flex;
    justify-content: center
}


.start {
    font-size: 30px;
    font-weight: bold;
    background-color: darkblue;
    color: white;
    border: 0px;
    border-radius: 5px;
}    
.start:hover{
    transform: translateY(5px);
}

#btn_reset {
    display: flex;
    justify-content: center
}

.reset {
    width: 135px;
    font-size: 15px;
    font-weight: bold;
    background-color:brown;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
}


#game {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#janken {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center
}
#acchimuite {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center
}
#acchimuite2 {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center
}

#shobu {
    display: flex;
    justify-content:space-evenly

}
.subtitle {
    text-align: center;
}

#hantei {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
}

#shohai {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    display: flex;
    justify-content:center;
}